[2018-05-12 18:03] chemdrew opened #2 "cache requests"
Requests are being built through reflection on every transaction. Adding the ability to cache the requests upon completion and using already built requests in future transactions could improve the performance

[2018-05-12 18:04] chemdrew opened #3 "support subscriptions"
To keep in parity with the GraphQL specification it would be great to add support for subscriptions

[2018-06-01 19:31] tonysparks opened #11 "Support ability to make a dynamic request"
Seems like there are only two ways to build a request, one thru a predefined class and the other thru a raw query string.

Could you add support for `java.util.Map` requests?

Such as:
[code]

[2018-06-04 17:28] chemdrew commented on #11
Hi @tonysparks, thanks for the submission!

I'm a little curious on the added value from building queries in this way as opposed to the current API definition. Could you provide some use cases for this?
My main concern is that decoupling the requests from the models and making them so dynamic removes the ability to easily cache them (#2). I would be more inclined to expose the Property tree used t

[2018-06-04 18:00] tonysparks commented on #11
Hello chemdrew,

My current use case is for schema stitching (i.e., a graphql proxy service the merges multiple disparate graphql services into one).

As an example, a query may come in that has multiple queries that resolve to different backend GraphQL endpoints.  It would be nice to be able to construct the (sub)query based on the fields being queried for - which wouldn't be known upfront.

[2018-06-04 21:11] chemdrew commented on #11
I'm having a hard time understanding how this library plays into schema stitching. Schema stitching is handled by the GraphQL server implementation and the models should all be exposed upfront there and this client would be able to interface with it as it would any GraphQL API

[2018-06-04 21:49] tonysparks commented on #11
Sorry, I wasn't very clear.

I'm working on a GraphQL server schema "stitcher".  This server, needs to make GraphQL calls to other GraphQL servers.  It will receive GraphQL requests, the server then needs to determine which GraphQL servers to call and build the appropriate request (enter in Nodes).

In other words, I'd like to use Nodes on a GraphQL server to call other GraphQL servers, the catch

[2018-06-04 23:40] chemdrew commented on #11
Ah, I had an inkling that's what you were getting at, thanks for clarifying!
I'm still concerned about exposing a way to build an entirely dynamic query but am toying with the idea of exposing the Property tree used to construct the query on the requestEntity.
Would you be able to make use of the Property tree combined with the use of the @GraphQLIgnore annotation?
That way you could build the mod

[2018-06-05 12:59] tonysparks commented on #11
That could work -- however, that would increase the amount of work significantly (I would need to create POJO's for each schema).

[2018-06-05 13:48] chemdrew commented on #11
Yeah, unfortunately... Let me play with some of the serialization pieces with this in mind and see if there could be a better option

[2018-07-03 18:48] jeremygiberson opened #12 "README does not inform the user which repository this project is available from"
Not familiar with the Java eco system, it was non obvious to me to try jcenter to find the dependency. It should probably be mentioned in the read me and included in the maven  install examples.

Maven
[code]

[2018-07-05 19:13] catmclough opened #13 "GraphQLException in Kotlin sample"
When running Main.kt in the kotlin-sample my coworker and I are both seeing the following error:

[code]

[2018-07-05 22:49] #13 closed

[2018-07-05 23:04] chemdrew commented on #13
Hi Catherine, thanks for opening this issue! Was trying to do some cleaning up and it looks like I went a little too far and didn't properly check my work. Please pull the latest and let me know if that fixes the problems you were facing

[2018-07-05 23:08] catmclough commented on #13
Yes that works, thank you!

[2018-07-07 16:29] chemdrew commented on #12
Added this to the readme but not the examples. Since the examples currently install the package from their sibling module I want them to stay synced with that for development and not download and use the release. Makes debugging a lot simpler. Let me know if this clears things up now!

[2018-07-07 16:30] #12 closed

[2018-07-08 18:42] jeremygiberson opened #16 "@GraphQLVariables isn't a class level annotation"
Unlike GraphQLProperty, GraphQLVariable(s) isn't class level -- I'm not sure how I'm suppose to use them to achieve my query/mutation.

I'm trying to build the following mutation
[code]
Or A more general usage example for Queries:
[code]

#### Expected Uses
I was anticipating a model definition like (but illegal to put variables @ class level):
[code]

#### Available Uses
These are my (legal) opti

[2018-07-08 20:36] jeremygiberson commented on #16
FYI I'm working on a PR for this suggestion

[2018-07-09 03:19] chemdrew commented on #16
I like the idea of a operation class to distinguish that parameter separately from the fields, it could clean the code up a lot. But I think a good first step might be adding support for variables in the `@GraphQLProperty` annotation as well as making `@GraphQLArgument`, `@GraphQLArguments`, `@GraphQLVariable`, and `@GraphQLVariables`work above classes as well and not just fields. It will also the

[2018-07-09 17:57] jeremygiberson commented on #16
Hey Chemdrew,

My thoughts,
Concerning `@GraphQLArgument`,` @GraphQLArguments` I agree that these should available at class level. There is an edge scenario this will affect -- right now a class w/out property annotations is bypassed and it's properties become the top level property. For example `TestModelSimple` in the tests, when passed by itself through the request builder becomes `{ simpleStri

[2018-07-09 20:02] chemdrew commented on #16
So far my approach has been to treat the model as a top level property inferring name from class, and just using the property annotation to apply overrides there - which is what had me excited by the idea of having the operation class separate because then a lot of logic around which fields are present and conditionals on how to handle them can be simplified.

So for a first simple implementation

[2018-07-09 21:13] jeremygiberson commented on #16
Roger on arguments translation to TestSimpleModel.

If I understand your use case correctly, I believe operation-vars/property-arguments cover this scenario. .

The use case requirements as I understand:
  1 consumer can specify the timezone format local
  2 consistency maintained through response
  3 different consumers may want a different timezone/format/locale

This is a sample query I think y

[2018-07-09 22:13] chemdrew commented on #16
So is your goal for declaring variables at an operation level over class level to keep from having variations like userId/UserID/UserId all in the same query like shown here `myQuery($userId: String, $UserID: String, $UserId: String)`?
My primary reasons for defining the variables at any level are to keep closely synced with the GraphQL specification. Defining variables at the top level also means

[2018-07-09 23:58] jeremygiberson commented on #16
It's one concern. Another concern is that arguments can have default values while variables do not. A model with a bunch of properties defined w/ sane defaults is easier to use than a model with a bunch of variables.

With the following model definition:
[code]
Assuming I use request builder to make a query from the model and don't set any arguments or variables.
[code]
What format will SignUpDate

[2018-07-10 16:30] chemdrew commented on #16
If we remove the ability to set variables at any level then we break away from the GraphQL specification, I see the concerns with it being more advanced and difficult to use than arguments but they are two distinct features not in my control and the discussion may be better moved there.
If the goal is to have default values defined in the models, Arguments may be the best case, but I can also get

[2018-07-11 18:55] gillpritpals opened #19 "graphqlproperty annotation is being mixed and shuffled around with the java field in the request"
`@GraphQLProperty(name = "business")
public class MerchantFinancingLoanSearchBusiness {

	String legalBusinessName;

	@GraphQLProperty(name = "federalTaxId")
	String tin;

	@GraphQLProperty(name = "businessName")
	String DBA;`

gives you:

business { DBA : businessNametin : federalTaxIdlegalBusinessName }

Here is the request builder

`GraphQLRequestEntity requestEntity = GraphQLRequestEntity.Buil

[2018-07-11 21:06] #19 closed

[2018-07-16 16:00] chemdrew opened #22 "Custom Error type"
GraphQL servers can format the errors any way they want, defined [here](https://github.com/graphql/express-graphql#options)

Currently `io.aexp.nodes.graphql.internal.Error` is very rigid and only matches the default message and locations fields. It would be nice to make this class extensible so users can match the server's error format.

[2018-08-28 07:51] mrchass opened #25 "Customizable object mapper"
I think, it would be great to be able to customize the objectmapper instance used in Fetch class. In my case i was missing jackson's java time module to use java time datatypes in my response entities.

Because Fetch class has a final class declaration i can't see any easy way to modify/replace its object mapper instance. This could be useful also in spring (boot) projects, where the environment p

[2018-08-28 16:41] davidegph opened #26 "Exception Cannot deserialize instance of `Class` out of START_ARRAY token"
Hi,

I am trying to use Nodes to query my GraphQL server; this is the query,

[code]

This is the model,

[code]

This is the schema,

`dishes(chef_id: String! dish_id: String name: String limit: Int = 100 offset: Int = 0 columnToSort: SortDishColumn = NAME order: OrderBy = DESCENDING): [Dish]!`

The query that Nodes generates is,

`query { dishes (chef_id:"chef_1", name:"Pizza") { chef_id name de

[2018-08-28 18:39] chemdrew commented on #26
Hi @davidegph,

Great question, this is actually something I need to update the docs with as it's a common problem that isn't very clear. Fortunately, there is a simple way to handle this!

[code]

[code]

[code]

Hope this helps!

[2018-08-28 18:39] #26 closed

[2018-08-29 08:52] Favorlock commented on #11
I can also second the OP's request. Our GraphQL API for the Enjin Coin trusted platform has quite a number of parameter configurations for the various queries and mutations which has been a big headache to support. My solution was (as the OP suggested) and using string replacing on a template to allow dynamic parameters, but it would be nice to have a structured API like what you're working with t

[2018-08-29 09:19] davidegph commented on #26
Thank you for your help Andrew! I was able to query my graphql schema thanks to your suggestions.

[2018-08-29 13:42] watery opened #27 "Add an example of a mutation to the readme"
Could an example of a mutation be added to the readme?

[2018-08-30 14:20] chirangaalwis opened #28 "Unrecognized field error when attempting to capture References (`refs`) from GitHub GraphQL API v4"
*Requirement:*
I am attempting to capture the branches of a GitHub repository using the GitHub GraphQL API v4. The following is an example GraphQL query for capturing the branches of repository `wso2/docker-ei`.

[code]
*Current Status:*
For this purpose, we need to capture the Git References (`refs`). I have managed to build up the Java implementation for building the following query, to capture

[2018-08-30 16:00] chemdrew commented on #28
The issue you are facing is related to the serialization. I haven't had the time to check thoroughly but I think the issue is `getReferences` does not match the naming convention for that field. Right now we are using jackson so you can either update the method names to match or use the jackson annotations to make it work as it stands

[2018-09-10 13:46] #28 closed

[2018-09-25 09:39] asanajiun opened #31 "HTTP to HTTPS"
Enhancement: consider supporting HttpsURLConnection
javax.net.ssl.HttpsURLConnection
in order to request secure https API endpoints.

[2018-10-02 02:53] chemdrew commented on #31
Hi @asanajiun,
HttpsURLConnection simply extends HttpURLConnection and still provides the the same ssl validation of https endpoints. It just adds some more methods for dealing with the ssl response.

Both http and https endpoints are currently supported in the library and ssl validation is performed for https endpoints.

[2018-10-02 02:53] #31 closed

[2018-10-05 21:00] seanjrng opened #32 "Null Pointer When Adding Arguments"
### Context:
I'm trying to create a small demo project using this project to see if this fits our needs. It is nothing fancy just a bare bones app. The app just assembles the request object and prints it to the console.
### Issue:
When trying to assemble add the arguments to the builder using the "GraphQLRequestEntity.Builder.arguments()" method I get a null pointer exception. The stack trace look

[2018-10-06 00:01] chemdrew commented on #32
Hi @seanjrng,

I think you'll be able to fix your request to match the behavior you expect with this in your main class:

[code]

let me know if this solves the issue you are facing!

[2018-10-06 00:02] #32 closed

[2018-10-08 14:20] seanjrng commented on #32
I'm afraid it does not. I did as suggested but to no avail. I've also tried messing around with the dotPath, changing how I create the individual arguments, and  passing the arguments as a list rather than an array but I cannot get ``` .arguments() ``` to work.  It still throws a null pointer exception at GraphQLRequestEntity Ln 119. Which looks like: ```
        Property argProp = property; // ln

[2018-10-08 14:54] chemdrew commented on #32
*Fudge.java*
[code]

*test file*
[code]

*output*
[code]

[2018-10-08 15:03] seanjrng commented on #32
I figured it out. Thanks

[2018-10-10 04:16] bpillai opened #33 "Unable to make https calls using this client ."
The client seems to be using httpurlconnection to make the graph ql api calls . This restricts making calls to https .

[2018-10-10 04:35] chemdrew commented on #33
Can you please provide the error message? httpurlconnection is still capable of making https calls, it is doing so in `samples/kotlin-sample/src/main/kotlin/Main.kt` as well as `samples/scala-sample/src/main/scala/Main.scala` when querying against the GitHub v4 open api.

[2018-10-10 05:28] bpillai commented on #33
Also is there a reason to use httpUrlConnection over httpsUrlConnection ?

[2018-10-10 17:30] bpillai commented on #33
I want to be abe to load a keystore file while opening the connection . If thhis client is used in a serverless app , then to be able to call a https which mandates a cert we would have to load it while opening the connection . I believe that is currently not possible .

[2018-10-11 00:43] chemdrew commented on #33
Hi @bpillai, the reason I chose httpUrlConnection over httpsUrlConnection is because I wanted the library to support http as well as https ([see this](https://stackoverflow.com/questions/3920419/difference-between-urlconnection-httpurlconnection-and-httpsurlconnection)). Your error looks unrelated to this library and more of an issue with loading your keystore into the jvm. Loading your keystore c

[2018-10-11 00:43] #33 closed

[2018-10-11 19:09] bpillai opened #34 "Is ther a way to set a list of InputObjects as an argument using the client ?"
example

xyz(abc:[{def:enum, value:"string"},{def:enum, value:"string"}]) {
}

[2018-10-11 22:49] chemdrew commented on #34
Hi @bpillai, yes.

[code]

returns with
[code]

[2018-10-11 22:58] chemdrew commented on #34
see this: https://github.com/americanexpress/nodes/pull/35/commits/e6669c77a2a5935e5b22829e0eb03c7135670303#diff-9e6159458cd498bc29877d5cbfc80b13

[2018-10-12 02:52] bpillai commented on #34
rather than updating the toString adding the following in the StringUtils.java formatGraphQLArgumentList seems to solve the issue .

private static String formatGraphQLArgumentList(List values) {
        StringBuilder stringBuilder = new StringBuilder();
        stringBuilder.append("[");
        Pattern p = Pattern.compile("^\\$");
        for (Object value: values) {
            if (stringBuilde

[2018-10-12 03:35] chemdrew commented on #34
:facepalm: great catch! Would you like to open the pull request fixing my mistake as you described there for some credit as a contributor?

[2018-10-12 03:35] bpillai commented on #34
I am not able to push the branch to your repository
git push -u origin feature/add-list-of-input-objects-in-arguments
git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2018-10-12 03:36] chemdrew commented on #34
I’ll be home to look into and help correct it in about an hour or so

[2018-10-12 03:37] chemdrew commented on #34
Oh, just create a fork of this repo. Commit to your fork, then raise the pull request from your fork

[2018-10-12 03:49] bpillai commented on #34
https://github.com/americanexpress/nodes/pull/36

[2018-10-12 03:56] chemdrew commented on #34
Awesome, sometimes it takes a few minutes to update. Will just check on that periodically

[2018-10-12 04:54] chemdrew commented on #34
Thank you for your first contribution on Nodes! Congrats!

[2018-10-12 04:54] #34 closed

[2018-10-12 20:31] bpillai opened #38 "Testing Input Object ."
Currently in the client since we have protected access over the methods in InputObject it becomes impossible to test an argument that has an input object as the value .

[2018-10-12 20:48] chemdrew commented on #38
I am good with there being a public getter method on InputObject

[2018-10-12 21:34] bpillai commented on #38
PR - https://github.com/americanexpress/nodes/pull/39/

[2018-10-12 23:05] chemdrew commented on #38
👍 will be releasing a new version shortly

[2018-10-12 23:05] #38 closed

[2018-10-15 22:58] chemdrew commented on #27
Hi @watery, at the very end of this article ([GraphQL for the JVM: An Introduction to Nodes](https://americanexpress.io/graphql-for-the-jvm/)) there is an example.
I'm also currently working on adding a documentation site for this library which will include an example of this.

[2018-10-15 22:58] #27 closed

[2018-10-18 05:44] G-ruchika opened #43 "Need Help"
Looking for some help.. I am using this library into my project. and getting error while deserializing the response.
My query :
query somethingHere {
  courses {
    id
  }
}
Response  :
{
  "data": {
    "courses": [
      {
        "id": 1
      },
      {
        "id": 2
      },
      {
        "id": 3
      }
    ]
  }
}

I have defined the class like this

@Setter
@Getter
@GraphQLProperty(na

[2018-10-22 10:00] albertonaperijr opened #45 "Array of Objects/InputObjects inside of an InputObject"
E.g.

[code]

I've tried it with the code below but items are not generating properly.

[code]

Actual Output:
[code]

Expected Output:
[code]

Thanks.

[2018-10-22 10:14] albertonaperijr opened #46 "Array of Objects/InputObjects inside of an InputObject"
E.g.
[code]

I've tried the code below but items are not being generated properly.
[code]

Actual Output:
[code]

Expected Output:
[code]

Thanks.

[2018-10-22 14:56] chemdrew commented on #46
duplicate of #45

[2018-10-22 14:56] #46 closed

[2018-10-23 02:07] chemdrew commented on #45
Hi @albertonaperijr,

This was a bug from v0.1.0-v0.1.2 and was fixed in v0.1.3. Please upgrade to the latest v0.3.0.

Original issue here #34

[2018-10-23 02:07] #45 closed

[2018-10-23 03:03] #43 closed

[2018-10-23 03:03] albertonaperijr commented on #45
Hi @chemdrew,

I'm actually encountering this issue using the latest version (v0.3.0).
I'm not sure if the issue [#34](https://github.com/americanexpress/nodes/issues/34) was actually related to this case since it's using the array of InputObjects directly as an argument while in this case, I need the array of InputObjects inside of an InputObject.

Thanks.

[2018-10-23 03:17] chemdrew commented on #45
**Payment.java**
[code]

**Main.java**
[code]

prints out
[code]

Can you post more of your code to see if it matches up?

[2018-10-23 05:03] albertonaperijr commented on #45
Hi @chemdrew,

I've created a sample project and tried to run the code and it's working just fine. I'm not sure why it's not working on one of my existing projects.

Anyway, thanks for taking time to solve my issue.

[2018-10-23 05:28] chemdrew commented on #45
Yeah, for sure, no problem. Let me know if the issue persists or you recreate it in the latest version though, wanna make sure there aren’t any bugs hiding.

[2018-10-23 07:08] albertonaperijr commented on #45
It's working now. I think the issue was with my IDE (IntelliJ). I'd updated the dependency version in my pom.xml but it didn't automatically update the local dependencies when clicking the run button.
I've fixed it by manually running ```mvn idea:idea``` and ```mvn clean install``` in the command line.

[2018-10-29 13:31] mkalen opened #47 "StackOverflowError on enum members in model"
If a model contains one or more enum members, GraphQLRequestEntity will loop in the getChildren method, resulting in java.lang.StackOverflowError. Only happens if the enum has at least two contant values.

[2018-10-29 14:40] mkalen opened #49 "Invalid charset during deserialization on JVM with default encoding other than UTF-8"
io.aexp.nodes.graphql.Fetch uses a Java InputStreamReader without explicit charset. If Nodes is running under a JVM with default encoding other than UTF-8 (i.e. under Windows), the response deserialization will not handle the JSON strings in the UTF-8 server response correctly since the deserialization is based on the stream reader with JVM default charset (!= UTF-8 i.e. different from actual resp

[2018-10-29 15:16] mkalen opened #51 "Command-line Maven build fails due to missing Parameter test coverage"
Jacoco stops command-line Maven builds since Parameter test coverage is less than configured threshold (90% coverage). The Nodes package cannot be installed in a local Maven repository.

[2018-10-31 04:41] chemdrew commented on #47
Great catch, thanks for finding this and supplying the fix as well!

[2018-10-31 04:44] #49 closed

[2018-10-31 04:49] #51 closed

[2018-10-31 05:05] #47 closed

[2018-11-01 02:26] WaterZhang opened #55 "Could GraphQLRequestEntity make setRequestMethod as public method?"
Our team use this framework to compose query of GraphQL API call. I saw setRequestMethod method in GraphQLRequestEntity is access only package and GraphQLTemplate call it and change request method. For our program, we use Feign+Hystrix as http call. That means we only use Nodes to compose query.
For my understanding, it is not enough to change setRequestMethod as public method. All initial process

[2018-11-01 07:56] WaterZhang commented on #55
should expose builder method to set up requestMethod (query or mutate)?

[2018-11-01 14:51] chemdrew commented on #55
Adding this to the builder sounds like an excellent idea!

[2018-11-01 14:56] mkalen opened #56 "Not possible to call API with optional and mutually exclusive arguments"
When using Nodes to call an API where arguments are mutually exclusive, there is currently no way to leave out either argument even if value is not set or explicitly set to null in annotation. This is due to two issues:
a) null values are treated as String("null") instead of null values internally, while parsing value from GraphQLArgument annotation
and
b)  the GraphQLArgument annotation has no no

[2018-11-02 02:18] WaterZhang commented on #55
Could I give pull request or you could make it change and release new version?

[2018-11-02 04:50] chemdrew commented on #55
I will absolutely take the change in a pull request! Otherwise I can make the change fairly quickly either tomorrow or Saturday

[2018-11-02 21:38] #25 closed

[2018-11-02 21:52] #56 closed

[2018-11-02 22:49] #55 closed

[2018-11-02 23:11] chemdrew commented on #55
Alright, just released v0.4.0 which should allow you to set the request method in the builder or on the GraphQLRequestEntity instance so you can build the correct query without executing the fetch

[2018-11-08 16:38] hhocine opened #60 "Variables not taken into account - Need help (or bug)"
Hi,
My variables don't seem to be taken into account when executing the query

[code]

In the Model I have defined, one of the property has the variables definition:
[code]

However when executing the request I can see the query is:

query ($name:String,$language:String){ jcr { nodeByPath { marketingFactory { optimizationTestVariant { path name property (name:$name,language:$language) { value } uu

[2018-11-09 10:43] hhocine commented on #60
Apparently I needed to write scalar = "String!" to require the parsing of my variable.
Not sure why you would not want to parse the variable then....

[2018-11-09 10:43] #60 closed

[2018-12-19 22:43] bpillai opened #61 "Add extensions and path to error.java"
According to the graph ql spec , the error object follows the following format .
https://facebook.github.io/graphql/June2018/#sec-Errors

{
  "errors": [
    {
      "message": "Name for character with ID 1002 could not be fetched.",
      "locations": [ { "line": 6, "column": 7 } ],
      "path": [ "hero", "heroFriends", 1, "name" ],
      "extensions": {
        "code": "CAN_NOT_FETCH_BY_ID",

[2019-01-02 12:42] JacobMountain commented on #11
@tonysparks @Favorlock  Have you looked into [GraphQL Braid](https://github.com/atlassian/graphql-braid) for schema stitching?

[2019-01-03 17:32] tberman opened #62 "Support InlineFragments"
Currently there doesn't appear to be a way to support inline fragments, I am looking to do something like:

[code]

I may have missed how to do this, I tried decorating a field with `@GraphQLProperty` but it gave me back something that looked far more like a field alias than an Inline Fragment.

Thoughts?

If this is missing and there is consensus on how to do this, I'd be happy to put together a

[2019-01-14 11:56] raulvillalbamedina opened #64 "Sample with java and sample server graphql"
I need use sample with real graphql api

[2019-01-20 15:45] chemdrew commented on #64
Hi @raulvillalbamedina,

[Here is a sample in Kotlin](https://github.com/americanexpress/nodes/tree/master/samples/kotlin-sample) that is included in the repository. There is also a sample in Scala as well.

You can also see some more usage information in these two posts:
[GraphQL for the JVM: An Introduction to Nodes](https://americanexpress.io/graphql-for-the-jvm/)
[Client per la Java Virtual Ma

[2019-01-20 15:45] #64 closed

[2019-01-20 16:14] chemdrew commented on #62
Hi @tberman!

Currently this feature is not implemented.
The reason for this is that I couldn't figure out an intuitive way to do this and since inline fragments were a way to simplify queries by using some OOP concepts I figured the Nodes library provided the same user friendly behavior being implemented in OOP languages but at the cost of more complex queries being constructed under the hood.

M

[2019-01-20 16:17] chemdrew commented on #61
Hi @bpillai closing this as a duplicate of #22
Unfortunately I have not had the time to implement this yet but would be more than happy to accept a PR for it!

[2019-01-20 16:17] #61 closed

[2019-01-31 10:58] shivam0406 opened #65 "Graphql is an invalid property path ', status='null', description='null', errors=null}"
I am using this library to test the graphql and I followed the document as well.

I observed that some details are missing in the documents.

I have added the arguments and sending the request but while build the query I am getting Graphql invalid property path error.

[2019-01-31 13:32] bhaskar-p7 opened #66 "gradle pull"
Can anyone help me with gradle pull request. My gralde projects is not dowloading the nodes jar file.
I added below entry in my gradle build file. Is this the right version?

	compile 'io.aexp.nodes.graphql:nodes:0.1.0'

I am not finding anything in Maven repo also.

[2019-02-04 15:40] hhocine opened #67 "Arguments on aliases"
Hi, I'm trying to send a request on a model where I have at the same level two same nodes with identical names and arguments. So I used alias graphQLPropertyName. Problem is I cannot inject the arguments on request. In the given example I want to do:

`GraphQLTemplate graphQLTemplate = new GraphQLTemplate();

GraphQLRequestEntity requestEntity = GraphQLRequestEntity.Builder()
    .url("http://grap

[2019-02-06 09:31] mario-martinez-se commented on #26
Hi, I've been trying this example and for some reason it throws a NPE.
This is the code I am trying (copied from here with small modifications as I am running it from groovy instead of Java)
[code]

[2019-02-25 06:37] bbakerman opened #68 "how to map a list of fields via this library"
I was testing out this library via the Spotify test API : https://spotify-graphql-server.herokuapp.com/graphql

The query would be

[code]

with variables byName : "Red Hot Chili Peppers"

Debugging shows it sending the right query and data back but it fails to Deserliase into a structure

[code]

My code is this

[code]

My model classes are

[code]

I guess I am unsure about where the entry poin

[2019-02-25 06:38] bbakerman commented on #68
ps.  I am one of the maintainers of graphql-java so my server side graphql knowlege is ok but I am trying to work out this as a client side consumer library

[2019-02-25 06:41] bbakerman commented on #68
Ahh worked it out just after I typed all this

The model classes MUST be public.  So

[code]

[2019-03-19 01:27] dcastellanos-r7 opened #69 "Any plans to publish to Maven Central?"
Hi Team, you have a very nice client for graphQL. Do you have any plans to publish to Maven Central?

[2019-03-21 04:21] jleibund opened #70 "Externalize Fetching"
I'm interested in this project but have a lot invested in RestTemplate and proprietary infra below that.  I would need to be able to provide my own Fetch implementation for this to be usable.

[2019-03-27 15:25] futzl opened #73 "Static fields in model class"
I reuse custom types in my model class, for example a class called CreditCardNumber. Static fields in this class are also send with the request. On server side, the validation failed because of that static field is not defined in the schema.

    public class CreditCardNumber {
        private static final Pattern REGEX = Pattern.compile("\\d{12;19}");
        private String number;
        ...

[2019-03-27 21:06] guptaavi commented on #73
I have the same issue. Most of the model classes are reused across projects and they are all Serializable, thus causing the serialVersionUID to be  included in the generated query. This fails validation because the serialVersionUID is not part of the schema. I have no control over the generated models and cannot put a @GraphQLIgnore annotation on this field.

[2019-04-22 10:09] shivamsk commented on #62
@tberman @chemdrew
Can you guys please provide if there is any update on this  to implement union ?

[2019-04-22 10:15] shivamsk opened #74 "Support for Union"
Do we have any support for using the Union in the response?

This is the sample query I am trying to fetch the response for .
[code]

This is already tracked here:
https://github.com/americanexpress/nodes/issues/62

Please let me know if there is an alternative way of getting the response for this.

[2019-04-22 10:17] shivamsk commented on #74
@chemdrew @tberman Please check this

[2019-04-22 15:20] tberman commented on #62
@shivamsk I am happy to work on a PR once we get to some kind of general agreement on how it should work API-wise!

[2019-05-08 18:32] daveyleo opened #76 "Jackson dependency update. [2.9.8]"
Currently dependent on Jackson 2.9.6 which has some vulnerabilities (e.g. https://nvd.nist.gov/vuln/detail/CVE-2018-19362)

Please consider updating to 2.9.8 as these vulnerabilities have been resolved in this version.

[2019-05-27 10:09] andlien opened #79 "Support for bi-directional relationships"
Hi! Thank you for developing this client!

Is there any way to use nodes with bi-directional relationships? For instance, is it possible to generate the following query

[code]
to list all cars owned by the owner of this car?

[2019-07-02 03:35] bhardwajankur3 opened #80 "Mutation query returning Boolean throws Exception"
I have a mutation query which returns a Boolean. The following POJO does not work:

`@GraphQLProperty(name = "updateHealth", arguments = {@GraphQLArgument(name = "request")})`
`public class UpdateHealth {
          private boolean isSuccess;

	public boolean isSuccess() {
		return isSuccess;
	}

	public void setSuccess(boolean isSuccess) {
		this.isSuccess = isSuccess;
	}
}`

I get the following e

[2019-07-02 19:08] bhardwajankur3 commented on #80
It worked. Instead of `GraphQLResponseEntity<UpdateHealth> responseEntity = graphQLTemplate.mutate(requestEntity, UpdateHealth.class);`, I had to mention Boolean i.e., `GraphQLResponseEntity<Boolean> responseEntity = graphQLTemplate.mutate(requestEntity, Boolean.class);`

[2019-07-02 19:08] #80 closed

[2019-07-09 07:19] rbraeunlich opened #81 "0.5.0 release?"
Hey everyone,
sorry, but I couldn't find another way of contacting you than opening an issue.
Is there any plan for releasing a next version soon? Especially, I'm looking at the changes from PR #75 which I see as basically mandatory for any HTTP connection.
Cheers,
Ronny

[2019-07-10 13:37] arudnev84 opened #82 "StackOverflowError when model class has property with reference on himself"
public class DisplayElement {
    private String type;
    private String text;
    private List<String> styles;
    private String url;
    **private List< DisplayElement > displayElements;**
    private Boolean isSelected;
    private Boolean isHighlighted;
}

[2019-07-11 19:07] dan-kirberger opened #83 "Make GraphQLTemplate thread safe"
We made our `GraphQLTemplate` a singleton spring bean and noticed some erratic behavior (seemingly confusing the response returned from the server).

The docs suggest `new`ing the template up each time so this is our bad, but can we ensure it is thread safe instead? It feels like it fits better with the other XYZTemplate tools you find in spring-land

A template has a handle on a Fetch:
https://gi

[2019-07-13 22:51] chemdrew commented on #81
Hey Ronny,
Apologies for the delay in that release.
Available now [here on bintray](https://bintray.com/americanexpress/maven/io.aexp.nodes.graphql/0.5.0)

[2019-07-13 22:51] #81 closed

[2019-07-13 23:05] chemdrew commented on #79
Hi Anders,

Right now no, there is no break when recursively generating the query.

I think the cleanest approach to adding this feature would be to add a new annotation to support something like `@GraphQLRecursive(depth = 1)`.

Then in the recursive `getChildren()` in `GraphQLRequestEntity` method on [line 240](https://github.com/americanexpress/nodes/blob/master/nodes/src/main/java/io/aexp/nodes

[2019-07-13 23:06] chemdrew commented on #82
closing as duplicate of #79

[2019-07-13 23:06] #82 closed

[2019-08-06 11:55] mehdikhelif commented on #70
Hello, that would be definitely a nice enhancement

[2019-08-19 15:32] hakanmhmd opened #88 "Query for same field multiple times"
[code]

If i were to have a query like the one above, how is it possible to implement it with Nodes?

[2019-08-20 11:21] ghost opened #89 "How to response pack as class"
mutation {
createUser(
    userData: {
        firstName: "Bullhorn", lastName: "Pegas"

    }) {
user{

firstName
lastName
}
}
}

- How to write this client in java? I am facing I couldn't pack the response user object. My code is below given

InputObject inputObject = new InputObject.Builder<>().put("firstName", "myname").put("lastName", "Sujith")
				.build();
		GraphQLRequestEntity build = Gra

[2019-09-03 15:06] debdiptahalder-4tigo opened #90 "Facing issue when the querying an API with single set of fields but returning an array of it."

[2019-09-03 15:07] #90 closed, assigned to nobody

[2019-09-03 15:16] debdiptahalder-4tigo opened #91 "Facing issues while querying an API with certain fields but getting an array in response."
Hi I am trying to query an API which is of the following format.
`query{
  requestallstudentdata{
  id
 name
 hobby
 }
}
`
In response we get something like following:
`{
  "data": {
    "requestallstudentdata": [
      {
        "id": 1,
        "name":"xyz",
        "hobby":"fxdu"

      },
      {
      "id": 2,
        "name":"xYz",
        "hobby":"fdu"
      }
    ]
  }
}`

How to handle suc

[2019-09-03 16:20] chemdrew commented on #88
check out [this post](https://americanexpress.io/graphql-for-the-jvm/) for some better docs on using it.

[2019-09-03 16:20] #88 closed, assigned to nobody

[2019-09-03 16:23] chemdrew commented on #89
check out [this article](https://americanexpress.io/graphql-for-the-jvm/) for more examples of how to set arguments

[2019-09-03 16:23] #89 closed, assigned to nobody

[2019-09-03 16:29] chemdrew commented on #91
ah yeah, querying lists isn't super clear. The same [solution](https://github.com/americanexpress/nodes/issues/26#issuecomment-416696161) in #26 should work here as well.

[2019-09-03 16:29] #91 closed, assigned to nobody

[2019-09-03 16:55] debdiptahalder-4tigo commented on #91
Hi,
Thanks for your reply. I am a bit confused on what to send in the
arguments. I want fetch the list of all the students instead of giving any
specific arguments.
It will be really helpful if you can guide me a bit with this. I do have any arguments to send for querying.

Thanks and Regards,
Debdipta Halder

On Tue, 3 Sep, 2019, 9:59 PM Andrew Pratt, <notifications@github.com> wrote:

[2019-09-04 06:56] debdiptahalder-4tigo commented on #26
Hi the above solution is not working for me. I am still getting the same issue . I am not able to understand what to send in the arguments if the API does not take any arguments.

[2019-09-09 10:30] fefi42 commented on #62
Is there any work around to this at the moment?

[2019-10-02 08:08] gabac commented on #83
I can confirm that we run into the same issue

[2019-10-30 17:13] jefrajames opened #100 "How to deserialize a list?"
I've tried to run simple GraphQL query returning a list:
`query { allTeams { name } }`
Here is the DTO class that I use to build a GraphQLRequestEntity:

[code]

The GraphQL query is good and run successfully against the server. However the result is not deserialized properly: _Cannot deserialize instance of `io.superherosample.model.AllTeamsQuery` out of START_ARRAY token_ which seems to be a Jac

[2019-10-31 03:18] chemdrew commented on #100
duplicate of #26

[2019-10-31 14:50] jefrajames commented on #100
Thanks it works! It would help a lot to have an example on how to get a list in the documentation.

[2019-11-06 13:53] IvanSaburov opened #102 "Exception when use gzip compression"
I use `io.aexp.nodes.graphql.nodes version: 0.5.0` for graphQL requests(java client).
While I send requests without header `Accept-Encoding = gzip` it works fine. But if I add this header graphQLTemplate throws next exception:
`Exception in thread "main" GraphQLException{message='OK', status='200', description='Illegal character ((CTRL-CHAR, code 31)): only regular white space (\r, \n, \t) is allo

[2019-11-06 17:03] #100 closed, assigned to nobody

[2019-11-07 08:27] NeilChitre2311 commented on #65
Did you find a solution for this ?

[2019-11-07 20:56] chemdrew commented on #65
Can you see if this article helps? https://americanexpress.io/graphql-for-the-jvm/

It has some examples defining arguments on nested paths. If you still face that error please post your models and the path you are using.
Likely it is some typo, a missing or extra level in the path, or a renamed object with the class name instead of property name being used.

[2020-01-27 08:52] bikeholik commented on #83
most likely it is because of
[code]

deserializer for Resource is changed on every request,  so some responses can be handled with the wrong one

[2020-01-30 15:23] smfaizalkhan opened #104 "Cannot deserialize value of type `java.time.LocalDateTime` from String \"2020-01-30T13:42:34.400\"
@chemdrew @realityforge
Hi,

Im trying to use the GraphQL API and we have the need  to deserialize a field that is in String to LocalDateTime and in that case ,we get the below exception

    "message" : "Servlet.service() for servlet [dispatcherServlet] in context with path [] threw
      exception [Request processing failed; nested exception is GraphQLException{message='null',
     status='200',

[2020-03-06 16:02] blevine opened #108 "No 'latest' link in Maven tree"
There's no "latest" link pointing to the latest version.  So the maven dependency in the README that specifies "latest" doesn't work, but 0.5.0 does.

[2020-04-25 15:15] chemdrew commented on #104
In your request builder add this
`.scalars(LocalDateTime.class)`

It's described a tad more here: https://americanexpress.io/graphql-for-the-jvm/

[2020-05-04 21:08] moxit0 opened #109 "Support for Upload"
Hi,

Does "Upload" scalar supported and respectively uploading of files is supported ?

[2020-06-02 12:43] michalgce commented on #108
@blevine README says

[2020-06-03 06:06] ODie0x03B7 opened #111 "Runtime generated classes do not serialize correctly"
I'm using the nodes client to perform an introspection query (based upon one I found that is used by GraphiQL). Using the response from that I am attempting to generate novel (data access object) classes using the Javassist bytecode manipulation library.

My issue is that the runtime generated DAOs are not being serialized to correctly formulate the query; e.g. if I have a Class<?> representing a

[2020-06-04 06:19] ODie0x03B7 opened #112 "ObjectMapper uses writeValueAsString()"
In Fetch.java/send(...) ObjectMapper is invoked with writeValueAsString() and the string is immediately converted to bytes:

    String requestParams = mapper.writeValueAsString(request);
    byte[] postData = requestParams.getBytes();

This could be replaced by

    byte[] postData = mapper.writeValueAsBytes(request);

if I understand correctly?

[2020-06-08 09:00] smfaizalkhan opened #113 "Having Multiple Queries in Single Request"
Hi @chemdrew, @realityforge

I have been using this tool for Our Application,We have a requirment to send mulitple queries in Single Reques

    {
         xxxOverview (id:"12345")
         {
            allocation{
               shares
                }
           assets{
               ticker
                 }
           id
         }

       universeMeta
      {
                       etfs{

[2020-06-09 11:22] #104 closed, assigned to nobody

[2020-08-17 04:41] jpasquers opened #114 "Expose Property class for modification"
As mentioned in one of the first responses to #11 :

"I would be more inclined to expose the Property tree used to construct the query string in the requestEntity"

We have had the need to dynamically modify the query (reduce query/response size without creating POJOs for each use case), and my idea was to 'post process' the Property object after the RequestEntity was built, exactly like you menti

[2020-08-26 05:20] trizzle21 opened #116 "Problem Deserializing an Empty List"
Hello! I'm having a small issue with a graphQL request that returns an empty list. I'm currently querying the Shopify Bulk Ingestion with a request payload that looks like:
[code]
which has a response that looks like
[code]
I have my objects that look like
[code]

When I screw up the user fields and I get a UserError, my request deserializes correctly. However, when the request is successful, I ge

[2020-09-09 06:25] pavan-kalyan opened #117 "Support for Directives?"
Is there support for GraphQL directives like (@include, @skip). These are standard directives that any GraphQL spec compliant servers need to support. Ref [Link](https://graphql.org/learn/queries/#directives)

Is there any annotation to support this in nodes? something like `@GraphQLDirective(directive="ignore", variableName ="shouldIgnore")`

[2020-09-12 17:21] jpasquers opened #118 "Fetch uses serializeMapper from ObjectMapperFactory to deserialize"
https://github.com/americanexpress/nodes/blob/9bc0d442e67248d0899429ae8548340c055ee50f/nodes/src/main/java/io/aexp/nodes/graphql/Fetch.java#L141

^The mapper referenced here is the serializeMapper, not a mapperFactory.newDeserializeMapper(). When we had to override the ObjectMapperFactory to do custom deserialization, we ended up having to add the custom logic to the newSerializeMapper()

[2021-02-08 21:12] mattbertolini opened #121 "JCenter/Bintray is being Sunset. Alternative Needed?"
According to [this announcement](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) JCenter and Bintray are being sunset. This library is currently only distributed via JCenter/Bintray and I am wondering if there are plans to publish it elsewhere (like Maven Central)?

[2021-02-23 16:46] smfaizalkhan commented on #113
@chemdrew  Can you let me know if there is a way to combine multiple request queries and send it across the WIRE as single request.

Right now i'm using  as below.

        portFolioRequestEntity = GraphQLRequestEntity.Builder()
                    .url(portFolioOverViewProperties.getConnectionUrl())
                    .request(PortFolioOverView.class).headers(headers)
                    .argume

[2021-05-03 04:26] sshplendid opened #122 "bintray repository is missing"
Hi.
I found my build was broken.
I've thought [the bintray respository](https://dl.bintray.com/americanexpress/maven/) is missing.
Can I get any alternative repository?
Anyone help?

[code]

[code]

[2021-05-03 11:20] oeystein commented on #122
Likely #121 that have gone into effect. Hopefully Amex devs can migrate rather quickly, it's a very useful library.

[2021-05-04 19:05] jabrahamcbre commented on #122
will this help https://packages.atlassian.com/maven-3rdparty/io/aexp/nodes/graphql/nodes/0.4.0-atlassian-hosted/

[2021-05-05 00:47] ritamanning commented on #122
Having same issue here

[2021-05-05 22:43] ritamanning commented on #122
I also needed to included 'com.fasterxml.jackson.datatype:jackson-datatype-jsr310:2.12.3' to run with 0.4.0-atlassian-hosted

[2021-05-15 06:25] stoldio commented on #121
Temporarily we can probably work around this with

https://jitpack.io/#americanexpress/nodes and

[code]

but since these are not really official ones as I understand, would be of course better to have this addressed by someone from the nodes team or authorized by them.

[2021-05-15 06:28] stoldio commented on #122
We could probably use  https://jitpack.io/#americanexpress/nodes for the time being, until we have the official versions migrated to some other public repo.

[2021-11-03 22:49] nmattocks-pfizer commented on #83
Would there be any side effects to moving the declarations of `module` and `mapper` into `deserializeResponse`?  Considering they're initialized every request, and the only time they're used during the request lifecycle is in `deserializeResponse`, this would allow for parallel calls to `deserializeResponse` (and by extension, `Fetch#send` and `GraphQLTemplate#*`) while maintaining thread safety.

[2021-11-03 23:06] tklever commented on #121
Did the announcement in April from bintray solve this issue?

It doesn't help for any new versions published, but old versions shouldn't go away, can anyone confirm that is this not the case?

[2022-03-20 20:44] chandrantwins commented on #62
Hi , thanks for your library. do you have any update on this support?

[2022-04-22 19:05] davidkarlsen commented on #121
It's dead: https://dl.bintray.com/americanexpress/maven/

[2022-06-07 10:34] tkosik12 commented on #91
@debdiptahalder-4tigo could you tell me what was the solution? If you found it of course.